@import "rouge-github";

table {
    display: block;
    width: 100%;
    overflow: auto;
    word-break: normal;
    word-break: keep-all; // For Firefox to horizontally scroll wider tables.
    -webkit-overflow-scrolling: touch;
    border-collapse: collapse;
    border-spacing: 0;

    tr {
        background-color: #fff;
    }

    tr:nth-child(2n) {
        background-color: #f6f8fa;
    }

    th {
        font-weight: bold;
    }

    th,
    td {
        padding: 0.5rem 1rem;
        border: 1px solid #b7b7b7;
    }
}

blockquote {
    padding: 0 1rem;
    margin-left: 0;
    color: #819198;
    border-left: 0.3rem solid $border-color;

    > :first-child {
      margin-top: 0;
    }

    > :last-child {
      margin-bottom: 0;
    }
  }