html {
  background: #e7e7e7;
  position: relative;
  min-height: 100vh;
  display: block;
  position: relative;
}

body {
  height: 100%;
  margin: 0 auto;
  position: relative;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  * {
    box-sizing: border-box;
  }
}

#mainNavigation {
  width: 20%;
  height: 100vh;
  overflow: scroll;
  min-height: 100vh;
  background: #f1fbff;
  position: fixed;
  color: #f1fbff;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.5rem;
}

#mainNavigation ul{
  padding-left: 1rem;
}

#siteWrapper {
  display: flex;
  width: 100%;
  flex-direction: row;
  height: 100%;
  min-height: 100vh;
}

#appWrapper {
  display: block;
  width: calc(80% - 10px);
  flex: 1;
  height: 100%;
  min-height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: calc(20% + 10px);
}

#appInnerWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  min-height: 100vh;
  position: relative;
  align-items: stretch;
}

#bodyContent {
  padding: 1.5rem;
  flex: 1 0 70%;
  height: 100%;
  min-height: 100vh;
  background: #ffffff;
}

.answer {
  display: none;
  background-color: #d9ffd9;
  padding: 1em;
}

.userAnswer{
  width: 80%;
  height: 1.5em;
  resize: none;
}

.checkAnswer{
  vertical-align:top;
}