<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{page.title}}</title>
  <link rel="stylesheet" type="text/css" href="../script/style.css">
</head>
<body>
    <div id="siteWrapper">
      <aside id="mainNavigation"></aside>
      <div id="appWrapper">
        <div id="appInnerWrapper">
          <div id="bodyContent">
            {{ content }}
        </div>
      </div>
    </div>
  </body>
<script type="text/javascript" src="../script/main.js"></script>
{% if page.userAnswer %}
<script type="text/javascript" src="../script/userAnswer.js"></script>
{% endif %}
</html>